<?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <appSettings>
        <add key="accountEndpoint" value="https://testcosmosfromvscode.documents.azure.com:443/" />
        <add key="accountKey" value="ACjNLylvzfbqSzRKVlGHi8i1zOHslsR94EY5tLibALKb9zOAH3SaibYowf1SoZgnfRT3D08AdcPjXoU62UCbZQ==" />
      </appSettings>
</configuration>